<div class="content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">

          <!-- form start -->
          <form action="/admin/foods/search" method="POST">

            <div class="card-body">
              <div class="form-group">
                <label for="name">Search</label>
                <input
                  type="text"
                  class="form-control"
                  id="bin"
                  placeholder="Search"
                  name="bin"
                />
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
{{!-- new ///////////////////////////////////////////////////////////////////////////////////////////////// --}}
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>